<html>
    <head>
        <title>FREE Postman</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/postgirl.css" type="text/css" />
    </head>
    <body>
        <nav class="nav-bar-top">
            aaa
        </nav>
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="filter">
                    <div class="filter-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="input-text">
                        <input class="input-filter" type="text" placeholder="Filter">
                    </div>
                    <div class="filter-icon-end">
                    </div>
                </div>
                <div class="sidebar-tabs">
                    <ul>
                        <li class="col-md-6">History</li>
                        <li class="col-md-6 selected">Collections</li>
                    </ul>
                </div>
                <div class="collections">
                    <ul>
                        <li>
                            <h3>API Unisinos</h3>
                            <small>94 requests</small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">content</div>
        </div>
    </body>
</html>