@bege: #E8E0CB;
@dark-grey: #464646;
@medium3-grey: #F0F0F0;
@medium-grey: #F3F3F3;
@medium2-grey: #DBDBDB;
@light-grey: #A9A9A9;
@light2-grey: #464646;
@light3-grey: #FAFAFA;
@white: #FFF;
@orange: #F47023;
@black: #000;
@brown: #505050;

@font: OpenSans, Helvetica, Arial, sans-serif;

html, body {
    margin: 0px;
    padding: 0px;
    background: @bege;
    color: @light-grey;
}

.nav-bar-top {
    height: 56px;
    background: @dark-grey;
}

// .input-filter {
//     border-radius: 20px;
//     -moz-border-radius: 20px;
//     -webkit-border-radius: 20px;
//     border: 1px solid #CCC;
//     font-size: 14px;
//     margin-top: 10px;
//     margin-left: 10px;
//     padding: 5px;
//     width: 100%;
// }

.sidebar {
    background: @medium-grey;
    padding-right: 0px;
    border-right: 1px solid @medium2-grey;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);

    .sidebar-tabs {
        margin: 0px;

        ul {
            padding-left: 0px;
            margin: 0px;
            
            li {
                list-style: none;
                padding: 5px 0px;
                font-size: 15px;
                text-align: center;
                font-family: @font;
            }
        }

        li.selected {
            border-bottom: 3px solid @orange;
            font-weight: 400;
            color: @light2-grey;
        }
    }

    .filter {
        padding: 7px 10px 0 10px;

        .filter-icon {
            border-left: 1px solid @medium3-grey;
            border-top: 1px solid @medium3-grey;
            border-bottom: 1px solid @medium3-grey;
        }

        .filter-icon, .filter-icon-end {
            position: absolute;
            // float: left;
            background: @light3-grey;
            width: 30px;
            height: 26px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            z-index: 10;

            .fa {
                margin: 5px 0 0 7px;
            }
        }
        .filter-icon-end {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            right: 10px;
            border-right: 1px solid @medium3-grey;
            border-top: 1px solid @medium3-grey;
            border-bottom: 1px solid @medium3-grey;
        }
        .input-text:focus {
                border: none;
        }
        .input-text {
            float: left;
            margin-left: 30px;
            width: 100%;
            height: 26px;
            overflow: hidden;
            position: relative;
            padding-right: 37px;
            border-top: 1px solid @medium3-grey;
            border-bottom: 1px solid @medium3-grey;
            z-index: 11;

            input {
                font-size: 15px;
                font-family: @font;
                height: 35px;
                box-sizing: content-box;
                border: @brown;
                width: 100%;
                margin: -2px 0 0 -2px;
                padding-left: 3px;
                background: @light3-grey;
            }
            input:focus {
                border: none;
            }
        }
    }
}
